.ancher {
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    color: white;
    border-radius: 8px;
    margin-left: 15px;
  
}

.ancher:hover {
    background-color: white;
    color: orange;
    padding: 8px;
    border-radius: 8px;
  
}

.btn1 {
    border: 1px solid red;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 300px;
    font-weight: bold;
    
}

.btn1:hover {
    background-color: red;
    font-weight: bold;
}

.btn2 {
    border: 1px solid orange;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;

}

.btn2:hover {
    background-color: orange;
    color: white;
    font-weight: bold;
}
.data{
    display: flex;
}
.data input{
    width: 200px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 10px;
}
.data input:hover{
    transition: 2s;
    width: 300px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 10px;
}



